---
BasedOnStyle: LLVM

Language: Cpp
Standard: Latest

AllowShortFunctionsOnASingleLine: InlineOnly
IndentCaseLabels: true
IndentWidth: 4
ColumnLimit: 120
InsertNewlineAtEOF: true
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Linux
BreakConstructorInitializers: AfterColon
BinPackArguments: false
PackConstructorInitializers: Never
EmptyLineBeforeAccessModifier: Always
